.szorzo th {
    background: aquamarine;
    font-weight: normal;   
}
.szorzo {
    font-size: 1.2em;
    margin-inline:auto;
    border: .2em solid cadetblue;
}
.szorzo th, .szorzo td {
    text-align: center;
    width: 1.4em;
    height: 1.4em;
}
form {
    margin-block: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    background-color: white;
    margin-block: 1em;
    color: black;
}